.snake{
    display: flex;
    gap: 10px;
}
.snake span{
    width:12px;
    height:12px;
    background: #22c55e;
    border-radius: 50%;
    animation: move 1s infinite ease-in-out;
}
.snake span:nth-child(2){
    animation-delay: 0.1s;
}
.snake span:nth-child(3){
    animation-delay: 0.2s;
}
.snake span:nth-child(4){
    animation-delay: 0.3s;
}
.snake span:nth-child(5){
    animation-delay: 0.4s;
}
.snake span:nth-child(6){
    animation-delay: 0.5s;
}
.snake span:nth-child(7){
    animation-delay: 0.6s;
}
.snake span:nth-child(8){
    animation-delay: 0.7s;
}
.snake span:nth-child(9){
    animation-delay: 0.8s;
}
.snake span:nth-child(10){
    animation-delay: 0.9s;
}
.snake span:nth-child(11){
    animation-delay: 1s;
}
.snake span:nth-child(12){
    animation-delay: 1.1s;
}
@keyframes move {
    0%,100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-100px);
    }
    
}
