body {
  height: 100vh;
  display: grid;
  place-items: center;
  background: radial-gradient(circle at center, #0a2f14, #000);
  color: White;
  font-family: Arial, Helvetica, sans-serif;
}
.player {
  width: 100px;
}
.player.movex {
  animation: moveX 2s ease-in-out infinite alternate;
}
@keyframes moveX {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translate(400px);
  }
}

.player.movey {
  animation: moveY 2s ease-in-out infinite alternate;
}
@keyframes moveY {
  from {
    transform: translateY(200px);
  }
  to {
    transform: translateY(-200px);
  }
}
.player.rotate {
  animation: spin 2s ease-in-out infinite alternate;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.player.grow {
  animation: grow 2s ease-in-out infinite alternate;
}

@keyframes grow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(2);
  }
}

pre{
  background-color: #333;
  padding:10px;
  display: flex;
  border: 1px solid #000;
  border-radius: 10px;
  
}
